<header class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="account">Cargo Traffic</a>
        </div>
        <div>
            <!-- ko if: $root.roles().length !==0  -->
            <!-- ko foreach: $root.roles() -->
            <!-- ko if: name == "SYS_ADMIN"  -->
            <ul class="nav navbar-nav">
                <li><a href="companies">Companies</a></li>
            </ul>
            <!-- /ko -->
            <!-- /ko -->
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Account<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="account">Change account</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a data-bind="click: function() {logout($root)}">Logout</a></li>
                    </ul>
                </li>
            </ul>
            <!-- /ko -->
        </div>
    </div>
</header>