@()
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Cargo traffic</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/lib/bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <script src="@routes.Assets.versioned("app/boot/require.config.js")"></script>
        <script data-main="@routes.Assets.versioned("app/boot/startup.js")" src="@routes.Assets.versioned("lib/require.min.js")"></script>
    </head>
    <body>
        <div class="wrapper">
            <navbar></navbar>

            <main id="page1" class="container" data-bind="component: { name: $root.route().page, params: route }"></main>

            <footer>
                <p>     © 2015 Cargo Traffic</p>
            </footer>
        </div>
    </body>
</html>
