@()
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>List</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/lib/bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <script src="@routes.Assets.versioned("javascripts/app/boot/require.config.js")"></script>
        <script data-main="@routes.Assets.versioned("javascripts/app/boot/startup.js")" src="@routes.Assets.versioned("javascripts/lib/require.min.js")"></script>
<body>
    @navbar()

    <main id="page1" class="container"  data-bind="component: { name: $root.route().page, params: route }"></main>

    @footer()
    </body>
</html>
